<div class="course-card" [ngClass]="{'beginner' : course.category === 'BEGINNER'}">

  <div class="course-title" [ngStyle]="{'text-decoration' : 'underline'}">
    {{input}} {{course.description}}
  </div>

<!--  @if (course.iconUrl) {-->
<!--    <img #courseImage width="300" alt="Angular Logo"-->
<!--         [src]="course.iconUrl">-->
<!--  } @else {-->
<!--    <h2>No image available!</h2>-->
<!--  }-->
  <ng-content select=".course-image"></ng-content>

<!--  <div class="course-description">-->
<!--    {{course.longDescription}}-->
<!--  </div>-->

  <ng-content select=".course-description"></ng-content>
  <ng-content></ng-content>

  <div class="course-category">
    @switch (course.category) {
      @case ("BEGINNER") {
        <div class="category">Beginner</div>
      }
      @case ("INTERMEDIATE") {
        <div class="category">Intermediate</div>
      }
      @case ("ADVANCED") {
        <div class="category">Advanced</div>
      }
      @default {
        <div class="category">Unknown</div>
      }
    }
  </div>

  <button (click)="onCardView()">View Course</button>

</div>
