<div class="top-menu">

  <img class="logo"
       src="https://angular-academy.s3.amazonaws.com/main-logo/main-page-logo-small-hat.png">

</div>

<div class="demo">
  <div>Start Date: {{ startDate | date: 'MM/dd/yy' }}</div>
</div>

<div class="courses">

  <!--  @for (course of courses; track course) {-->
  <!--    <course-card-->
  <!--      (courseSelected)="onAppSelected($event)"-->
  <!--      [course]="course"-->
  <!--      [input]="$index"-->
  <!--    >-->
  <!--    </course-card>-->
  <!--  } @empty {-->
  <!--    <h1>No courses found!</h1>-->
  <!--  }-->

  @if (courses[0]; as course) {
    <ng-template #blankImage let-courseName="description">
      <p class="warn">{{courseName}} hasn't image yet.</p>
      <img src="assets/empty-image.png" alt="blank image">
    </ng-template>
<!--    <ng-container *ngTemplateOutlet="blankImage; context: {description : course.description}">-->

<!--    </ng-container>-->
    <hr>
    <hr>
    <course-card
      (courseSelected)="onAppSelected($event)"
      [course]="course"
      [input]="1"
      [noImageTpl]="blankImage"
    >
<!--      <course-image [src]="course.iconUrl"></course-image>-->
      <div class="course-description">
        {{course.longDescription}}
      </div>
    </course-card>
  }

</div>


